body {
  text-align: center;
  background-image: url(https://c1.wallpaperflare.com/preview/401/127/806/lightbulb-concept-cork-bulletin.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 135px;
}

.yours {
  color:#FF7E67
}

div.card {
  max-height: fit-content;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 12px;
  text-align: left;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 140px;
  font-size: 12px;
}

.input:focus {
  border: solid 1px lightgray;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 12px;

}

.delete {
  visibility: hidden;
  text-align: right;
  margin: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.card:hover .delete {
  visibility: visible;
}

.brain {
  text-align: center;
}

div.links {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:1;
  display:flex;
}

div.links a {
  color: #FAFAFA;
  background-color: #07689F;
  font-size: 30px;
  text-decoration: none;
  padding: 12px;
  font-family: Courgette;
  border: #4E4E4E;
  border-style: solid;  
}

div.links a:hover {
  color: #FAFAFA;
  background-color: #A2D5F2;
}

.links {
  background-color: #A2D5F2;
  position:sticky;
  overflow: auto;
  padding: 5px;
  border: #4E4E4E;
  border-style: solid;
}

label {
  font-family: Courgette;
}

.notification, .button {
  font-family: Courgette;
  
}

.notification {
  background-color: ivory;
  opacity: 88%;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

h1.public, h1.your-ideas, h1.signup, h1.login {
  background: #FF7E67;
}

h1.no-login {
  background: yellow;
  border-color: #4E4E4E;
  border-style:solid;
  margin: 5px;
}

.title {
  font-weight: bolder;
  margin-right: 15px;
}

